@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';

  --color-primary-50: oklch(97% 0.014 251.18);
  --color-primary-100: oklch(91.924% 0.0272 252.16);
  --color-primary-200: oklch(85.648% 0.0494 250.7);
  --color-primary-300: oklch(77.072% 0.0906 248.39);
  --color-primary-400: oklch(65.596% 0.1458 251.2);
  --color-primary-500: oklch(55.92% 0.19 256.39);
  --color-primary-600: oklch(49.496% 0.2258 259.46);
  --color-primary-700: oklch(44.972% 0.2286 260.95);
  --color-primary-800: oklch(39.848% 0.1894 262.21);
  --color-primary-900: oklch(36.624% 0.1412 262.1);
  --color-primary-950: oklch(28.2% 0.091 264.51);
}

.turbo-progress-bar {
   @apply bg-primary-500;
}

/* Form field with errors */
.input_group:has(.field_with_errors) {
  @apply bg-red-100 dark:bg-red-950 outline-red-800/50 dark:outline-red-300 border-red-800/50 dark:border-red-300;
}
.field_with_errors {
  @apply contents
}
.field_with_errors > label {
  @apply text-red-900 dark:text-red-100;
}
.field_with_errors > input {
  @apply text-red-900 dark:text-red-100 placeholder-red-900/50 dark:placeholder-red-100/50;
}

/* Make the cursor a pointer again */
button, input[type="submit"], input[type="button"], input[type="reset"] {
  cursor: pointer;
}
