<div
  data-controller="upload"
  data-action="
    dragenter->upload#addDrag
    dragleave->upload#removeDrag
    dragover->upload#disableDefaultDrag
    drop->upload#addDroppedFiles
  "
  data-upload-drag-counter-value="0"
  data-upload-is-dragging-value="false"
  data-upload-is-submitting-value="false"
  data-upload-is-uploading-value="false"
  class="group/uploader"
>
  <%= form_with url: "/project_sources",
    data: {action: raw("submit->upload#submit")},
    class: "flex flex-col gap-6 bg-white p-6 shadow-lg rounded-xl border border-gray-200" do |form| %>

    <%# UPLOAD AREA %>
    <div class="col-span-full">
      <div
        data-upload-target="uploadArea"
        class="
          px-2 py-10 group-data-[upload-is-dragging-value=true]/uploader:border-blue-600
          group-data-[upload-is-dragging-value=true]/uploader:bg-blue-600/10
          transition-all flex justify-center rounded-lg border border-dashed
          border-gray-900/25 min-w-xs
        "
      >
        <div class="text-center">
          <svg
            class="
              group-data-[upload-is-dragging-value=true]/uploader:text-blue-600/50
              group-data-[upload-is-dragging-value=true]/uploader:scale-125
              group-data-[upload-is-dragging-value=true]/uploader:animate-bounce transition
              mx-auto size-12 text-gray-300
            "
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
              clip-rule="evenodd"
            />
          </svg>
          <div class="mt-4 flex text-md/6 text-gray-800">
            <label
              for="attachments"
              class="
                relative cursor-pointer rounded-md font-semibold text-blue-600
                hover:text-blue-700 underline
                group-data-[upload-is-dragging-value=true]/uploader:text-gray-800
                group-data-[upload-is-dragging-value=true]/uploader:font-normal
                group-data-[upload-is-dragging-value=true]/uploader:no-underline
              "
            >
              <span>Upload a file</span>
              <%= form.file_field :attachments,
                              data: {
                                "upload-target": "fileInput",
                                action: raw("change->upload#filesChanged"),
                              },
                              multiple: true,
                              direct_upload: true,
                              class: "sr-only" %>
            </label>
            <p class="pl-1">or
              <span
                class="
                  group-data-[upload-is-dragging-value=true]/uploader:text-blue-600
                  group-data-[upload-is-dragging-value=true]/uploader:font-semibold
                  group-data-[upload-is-dragging-value=true]/uploader:underline
                "
              >drag 'n drop</span></p>
          </div>
          <p class="text-sm/5 text-gray-500">
            at least one .blend file
          </p>
        </div>
      </div>
    </div>

    <%# FILE LIST %>
    <div data-upload-target="fileList" class="space-y-5 hidden py-2 px-1"></div>

    <%# FILE ITEM TEMPLATE - TODO: Turn this into a round progress bar %>
    <div class="hidden">
      <template data-upload-target="fileItemTemplate">
        <div class="group/file-item flex gap-3 justify-around items-center">

          <div id="checkbox-wrapper" class="flex h-6 w-5 shrink-0 items-center">
            <div class="group/checkbox grid size-4 grid-cols-1 mx-auto">
              <input
                data-upload-target="project"
                data-action="upload#checkForm"
                id="checkbox"
                name="mainBlendFiles[]"
                type="checkbox"
                aria-describedby="checkbox-description"
                class="
                  col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300
                  bg-white checked:border-blue-600 checked:bg-blue-600
                  indeterminate:border-blue-600 indeterminate:bg-blue-600 focus-visible:outline-2
                  focus-visible:outline-offset-2 focus-visible:outline-blue-600
                  disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100
                  forced-colors:appearance-auto
                "
              >
              <svg
                class="
                  pointer-events-none col-start-1 row-start-1 size-3.5 self-center
                  justify-self-center stroke-white group-has-disabled/checkbox:stroke-gray-900/40
                "
                viewBox="0 0 14 14"
                fill="none"
              >
                <path
                  class="opacity-0 group-has-checked/checkbox:opacity-100"
                  d="M3 8L6 11L11 3.5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="
                    opacity-0 group-has-indeterminate/checkbox:opacity-100
                  "
                  d="M3 7H11"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div id="progress-donut-wrapper" class="relative w-5 h-5">
            <svg class="w-full h-full" viewBox="0 0 64 64">
              <circle
                class="text-gray-200 stroke-current"
                stroke-width="14"
                cx="32"
                cy="32"
                r="25"
                fill="transparent"
              ></circle>
              <circle
                id="progress-donut"
                class="text-blue-600 stroke-current progress-donut"
                stroke-width="14"
                cx="32"
                cy="32"
                r="24"
                fill="transparent"
                stroke-dasharray="150.8"
                stroke-dashoffset="150.8"
              ></circle>
            </svg>
          </div>

          <%# File name %>
          <div class="text-md/6 cursor-pointer">
            <label id="file-name" class="font-medium text-gray-800"></label>
          </div>

          <%# File size %>
          <div class="text-md/6 ml-auto">
            <span id="file-size" class="text-gray-500 tabular-nums"></span>
          </div>
        </div>
      </template>
    </div>

    <%# EMAIL %>
    <div class="relative">
      <label
        for="email_address"
        class="
          absolute -top-2.5 left-2 inline-block rounded-lg px-1 text-sm font-medium
          text-gray-600 bg-white
        "
      >Email</label>
      <%= form.email_field :email_address,
                       data: {
                         action: raw("change->upload#checkForm"),
                         "upload-target": "email",
                       },
                       placeholder: "suzanne@blender.org",
                       value: session[:email_address],
                       class:
                         "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-base/6" %>
    </div>

    <%# SUBMIT %>
    <div>
      <button
        data-upload-target="button"
        disabled
        class="
          tabular-nums flex w-full justify-center rounded-md bg-blue-600 px-3 py-2
          font-semibold text-white shadow-xs hover:opacity-90 focus-visible:outline-2
          focus-visible:outline-offset-2 focus-visible:outline-blue-600
          disabled:opacity-70 cursor-pointer disabled:cursor-not-allowed
          group-data-[upload-is-submitting-value=true]/uploader:shadow-none
          group-data-[upload-is-submitting-value=true]/uploader:opacity-70
          group-data-[upload-is-submitting-value=true]/uploader:pointer-events-none
          group-data-[upload-is-uploading-value=true]/uploader:shadow-none
          group-data-[upload-is-uploading-value=true]/uploader:opacity-70
          group-data-[upload-is-uploading-value=true]/uploader:pointer-events-none
        "
      >
        <svg
          class="
            animate-spin -ml-1 mr-3 h-5 w-5 text-white hidden
            group-data-[upload-is-submitting-value=true]/uploader:inline
          "
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 64 64"
        >
          <circle
            class="opacity-25"
            stroke="currentColor"
            stroke-width="14"
            cx="32"
            cy="32"
            r="24"
            fill="transparent"
          ></circle>
          <circle
            class="opacity-75"
            stroke="currentColor"
            stroke-width="14"
            cx="32"
            cy="32"
            r="24"
            fill="transparent"
            stroke-dasharray="150.8"
            stroke-dashoffset="113.1"
          ></circle>
        </svg>
        <span data-upload-target="buttonText">Create a Project</span>
      </button>
    </div>
  <% end %>

  <%= javascript_include_tag "activestorage" %>
</div>
