<% take_a_look_url = @session_token ? root_url(session_token: @session_token) : root_url %>
<p>
  Hi <%= @subscriber.greeting_name %>,
</p>

<p>
  We've been shipping improvements to Blendergrid and wanted to share what's new.
</p>

<p>
  <a href="<%= take_a_look_url %>"
     style="display: inline-block; padding: 12px 22px; background: #101828;
            color: #ffffff; text-decoration: none; border-radius: 6px;
            font-weight: bold;">
    Take a look
  </a>
</p>

<p>
  Cheers,<br>
  Richard
</p>

<%= render "footer" %>
