<% take_a_look_url = @session_token ? root_url(session_token: @session_token) : root_url %>
<p>
  Hi <%= @subscriber.greeting_name %>,
</p>

<p>
  We've been shipping improvements to Blendergrid and wanted to share what's new.
</p>

<p>
  <a href="<%= take_a_look_url %>"
     style="display: inline-block; padding: 12px 22px; background: #101828;
            color: #ffffff; text-decoration: none; border-radius: 6px;
            font-weight: bold;">
    Take a look
  </a>
</p>

<p>
  Cheers,<br>
  Richard
</p>

<p style="margin-top: 32px; font-size: 12px; color: #667085;">
  You're receiving this because you subscribed to Blendergrid updates.
  <a href="<%= @unsubscribe_url %>" style="color: #667085;">Unsubscribe</a>
  from marketing emails.
</p>
