<div class="mx-auto max-w-7xl px-6 lg:px-8 my-12">
  <div class="mx-auto max-w-4xl sm:text-center">
    <h1 class="text-5xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-6xl sm:text-balance dark:text-white">
      <%= section["title"].html_safe %>
    </h1>
    <p class="mx-auto mt-6 max-w-2xl text-lg font-medium text-pretty text-gray-500 sm:text-xl/8 dark:text-gray-400">
      <%= section["subtitle"].html_safe %>
    </p>
  </div>
</div>

