<%
  logos = [
    'sony-music',
    'pokedstudio',
    'bio-oil',
    'nvidia',
    'grohe',
    'cgboost',
    'kingston',
    'aws-reinvent',
    'swarovski',
    'benetton',
    'sisley',
    'clik',
    # 'falkbuilt',
    # 'integral-group',
    # 'glow-eindhoven',
  ]
%>

<div class="">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-gray-900/70 dark:text-white/70">Used by Blender artists from:</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-3 md:grid-cols-4 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6">

      <% logos.each do |logo| %>
        <img width="128" height="64"
          src="https://res.cloudinary.com/blendergrid/image/upload/c_pad,f_auto,g_center,h_128,w_256/customer-logos/<%= logo %>.png"
          alt="<%= logo.titleize %>"
          class="max-h-16 w-full object-contain dark:invert opacity-80" />
      <% end %>

    </div>
  </div>
</div>
