<% content = local_assigns.fetch(:content, {}) %>

<% if content.key?("heading") %>
  <h1 class="text-3xl lg:text-4xl xl:text-5xl my-8 font-bold text-center">
    <%= content["heading"].html_safe %>
  </h1>
<% end %>

<%= render "uploads/form", upload: @upload || Upload.new %>
