<% if @landing_page&.sections&.any? %>
  <% @landing_page.sections.each do |key, content| %>
    <section>
      <%= render "landing_pages/sections/#{key}", content: content %>
    </section>
  <% end %>
<% else %>
  <section>
    <h1 class="text-3xl lg:text-5xl xl:text-6xl font-bold">
      Upload a .blend file
    </h1>
    <%= render "landing_pages/sections/upload" %>
  </section>
<% end %>
