<% if @landing_page&.sections&.any? %>
  <% @landing_page.sections.each do |key, content| %>
    <section>
      <%= render "landing_pages/sections/#{key}", content: content %>
    </section>
  <% end %>
<% else %>
  <section>
    <%= render "landing_pages/sections/upload" %>
  </section>
<% end %>
