<p>Price benchmark of '<%= @project.blend_file %>' is finished!</p>

<p>You can access it at your
  <a
    href="<%= projects_url(session_token: @user.generate_token_for(:session)) %>"
  >
    Projects page
  </a>
</p>
