<!--
  Add support for LaTeX code blocks with MathJax
  https://docs.mathjax.org/en/latest/index.html)
<script async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
-->

<%= render @article %>

<div class="my-8">
  <%= link_to "Back to articles", articles_path, class: "underline text-blue-500" %>
</div>
