<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <% if @user.nil? %>
    <%= render "invalid" %>
  <% else %>
    <%= render "unsubscribed", user: @user %>
  <% end %>
</div>
