<% if form.object.errors.any? %>
  <div class="text-red-600 dark:text-red-400 my-4 text-sm">
    <% form.object.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
