<div class="mx-auto max-w-4xl" data-controller="faq">
  <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl dark:text-white">Frequently asked questions</h2>
  <dl class="mt-16 divide-y divide-gray-900/10 dark:divide-white/10">

    <div class="py-6 first:pt-0 last:pb-0">
      <dt>
        <button type="button" data-action="faq#toggle" data-faq-index-param="0" command="--toggle" commandfor="faq-0" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
          <span class="text-base/7 font-semibold">What&#039;s the best thing about Switzerland?</span>
          <span class="ml-6 flex h-7 items-center">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </dt>
      <el-disclosure id="faq-0" data-faq-target="item" class="contents">
        <dd class="mt-2 pr-12">
          <p class="text-base/7 text-gray-600 dark:text-gray-400">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </dd>
      </el-disclosure>
    </div>

    <div class="py-6 first:pt-0 last:pb-0">
      <dt>
        <button type="button" command="--toggle" commandfor="faq-1" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
          <span class="text-base/7 font-semibold">How do you make holy water?</span>
          <span class="ml-6 flex h-7 items-center">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </dt>
      <el-disclosure id="faq-1" hidden class="contents">
        <dd class="mt-2 pr-12">
          <p class="text-base/7 text-gray-600 dark:text-gray-400">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.</p>
        </dd>
      </el-disclosure>
    </div>

    <div class="py-6 first:pt-0 last:pb-0">
      <dt>
        <button type="button" command="--toggle" commandfor="faq-2" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
          <span class="text-base/7 font-semibold">What do you call someone with no body and no nose?</span>
          <span class="ml-6 flex h-7 items-center">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </dt>
      <el-disclosure id="faq-2" hidden class="contents">
        <dd class="mt-2 pr-12">
          <p class="text-base/7 text-gray-600 dark:text-gray-400">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.</p>
        </dd>
      </el-disclosure>
    </div>
    <div class="py-6 first:pt-0 last:pb-0">
      <dt>
        <button type="button" command="--toggle" commandfor="faq-3" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
          <span class="text-base/7 font-semibold">Why do you never see elephants hiding in trees?</span>
          <span class="ml-6 flex h-7 items-center">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </dt>
      <el-disclosure id="faq-3" hidden class="contents">
        <dd class="mt-2 pr-12">
          <p class="text-base/7 text-gray-600 dark:text-gray-400">Because they&#039;re so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </dd>
      </el-disclosure>
    </div>
    <div class="py-6 first:pt-0 last:pb-0">
      <dt>
        <button type="button" command="--toggle" commandfor="faq-4" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
          <span class="text-base/7 font-semibold">Why can&#039;t you hear a pterodactyl go to the bathroom?</span>
          <span class="ml-6 flex h-7 items-center">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </dt>
      <el-disclosure id="faq-4" hidden class="contents">
        <dd class="mt-2 pr-12">
          <p class="text-base/7 text-gray-600 dark:text-gray-400">Because the pee is silent. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.</p>
        </dd>
      </el-disclosure>
    </div>
    <div class="py-6 first:pt-0 last:pb-0">
      <dt>
        <button type="button" command="--toggle" commandfor="faq-5" class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white">
          <span class="text-base/7 font-semibold">Why did the invisible man turn down the job offer?</span>
          <span class="ml-6 flex h-7 items-center">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
              <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
              <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </dt>
      <el-disclosure id="faq-5" hidden class="contents">
        <dd class="mt-2 pr-12">
          <p class="text-base/7 text-gray-600 dark:text-gray-400">He couldn&#039;t see himself doing it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.</p>
        </dd>
      </el-disclosure>
    </div>
  </dl>
</div>
