<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-4xl px-6 lg:px-8">
    <div class="prose prose-lg prose-gray max-w-none
      dark:prose-invert
      dark:prose-headings:text-white
      dark:prose-p:text-gray-300
      dark:prose-a:text-primary-400
      dark:prose-strong:text-white
      dark:prose-ol:text-gray-300
      dark:prose-ul:text-gray-300">
      <%= @content_html.html_safe %>
    </div>
  </div>
</div>
