<%= turbo_stream_from :projects %>

<% projects_by_stage = projects.group_by(&:stage)
   Project::STAGES.select { |s| projects_by_stage[s].present? }.each do |stage| %>

  <div class="mt-6">
    <% unless projects_by_stage.one? %>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h3 class="mx-auto text-base uppercase text-gray-500 lg:mx-0
        dark:text-gray-400"><%= stage.to_s %></h3>
      </div>
    <% end %>

    <div class="bg-white dark:bg-gray-800/50 mt-3 overflow-hidden border
      border-gray-100 dark:border-white/10 rounded-xl">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto lg:mx-0">
          <table class="w-full text-left">
            <thead class="sr-only">
              <tr>
                <th class="hidden">Enabled</th>
                <th>Project</th>
                <th class="hidden sm:table-cell">Type</th>
                <th>Edit</th>
              </tr>
            </thead>

            <tbody id="<%= stage %>-projects">
              <%= render projects_by_stage[stage] %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<% end %>
