<div class="mt-6">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="mx-auto text-base uppercase text-gray-500 lg:mx-0 dark:text-gray-400">
      Done
    </h2>
  </div>

  <div class="bg-white dark:bg-gray-800/50 mt-3 overflow-hidden border border-gray-100 dark:border-white/10 rounded-xl">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto lg:mx-0">
        <table class="w-full text-left">
          <thead class="sr-only">
            <tr>
              <th>Project</th>
              <th class="hidden sm:table-cell">Type</th>
              <th>Edit settings</th>
            </tr>
          </thead>
          <tbody>

            <% stage_archive.projects.each do |project| %>
              <tr class="group/row">
                <td class="relative py-5 pr-6">
                  <div class="flex gap-x-6">
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="hidden h-6 w-5 flex-none text-gray-400 sm:block dark:text-gray-500">
                      <path d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                    <div class="flex-auto">
                      <div class="flex items-start gap-x-3">
                        <div class="text-sm/6 font-medium text-gray-900 dark:text-white">
                          <%= project.name %>
                        </div>
                        <div class="rounded-md bg-amber-50 px-2 py-1 text-xs font-medium text-amber-700 inset-ring inset-ring-amber-600/10 dark:bg-amber-900/30 dark:text-amber-400 dark:inset-ring-amber-500/20">
                          <%= project.status.titleize %>
                        </div>
                      </div>
                      <div class="mt-1 text-xs/5 text-gray-500 dark:text-gray-400">Created <%= time_ago_in_words(project.created_at) %> ago</div>
                    </div>
                  </div>
                  <div class="absolute right-full bottom-0 h-px w-screen bg-gray-100 dark:bg-white/10 group-last/row:hidden"></div>
                  <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100 dark:bg-white/10 group-last/row:hidden"></div>
                </td>
                <td class="hidden py-5 pr-6 sm:table-cell">
                  <div class="text-sm/6 text-gray-900 dark:text-white">
                    Progress?
                  </div>
                  <div class="mt-1 text-xs/5 text-gray-500 dark:text-gray-400">Frame 3</div>
                </td>
                <td class="py-5 text-right">
                  <div class="flex justify-end">
                    <a href="#" class="text-sm/6 font-medium text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300">
                      Edit<span class="hidden sm:inline"> settings</span>
                    </a>
                  </div>
                  <div class="mt-1 text-xs/5 text-gray-500 dark:text-gray-400">Found warnings</div>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
