<div class="w-full">
  <% @projects.map(&:project_source).uniq.each do |project_source| %>
    <%= turbo_stream_from [project_source, :projects] %>
  <% end %>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1
      class="
        mx-auto max-w-2xl text-font-semibold text-gray-900 lg:mx-0 lg:max-w-none text-lg
      "
    >Render Projects</h1>
  </div>
  <div class="mt-6 overflow-hidden border-t border-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">

        <table class="w-full text-left">
          <thead class="sr-only">
            <tr>
              <th>Project Name</th>
              <th class="hidden sm:table-cell">Frames</th>
              <th class="hidden sm:table-cell">Resolution</th>
              <th>More details</th>
            </tr>
          </thead>

          <tbody id="projects">
            <tr class="text-sm/6 text-gray-900">
              <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                <span>Uploaded</span>
                <div
                  class="
                    inset-y-0 absolute right-full -z-10 w-screen border-b border-gray-200 bg-gray-50
                  "
                ></div>
                <div
                  class="
                    absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50
                  "
                ></div>
              </th>
            </tr>

            <%= render @projects %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
