<%= form_with url: price_calculations_path do |form| %>

  <% @projects.map(&:project_source).uniq.each do |project_source| %>
    <%= turbo_stream_from [project_source, :projects] %>
  <% end %>

  <div class="max-w-7xl mx-auto my-8 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">uploaded projects</h2>
    </div>

    <ul
      id="projects"
      role="list"
      class="
        divide-y divide-gray-100 overflow-hidden bg-white ring-1 ring-gray-900/5
        sm:rounded-xl shadow-md mt-6
      "
    >
      <%= render @projects, form: form %>
    </ul>
  </div>

  <div class="max-w-7xl mx-auto my-8 sm:px-6 lg:px-8">
    <%= form.submit "Calculate Price",
                class:
                  "flex justify-center rounded-md bg-green-600 ml-auto px-4 py-2 font-semibold text-white shadow-md hover:bg-green-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer" %>
  </div>

<% end %>
