<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  Thanks for signing up to Blendergrid.
</p>

<p>
  Here's a quick walkthrough video to get you up to speed:
</p>

<p>
  [youtube link]
</p>

<p>
  Happy rendering,<br>
  the Blendergrid team
</p>

<p>
  <a href="https://www.blendergrid.com">www.blendergrid.com</a>
</p>
