<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  Thanks for your first upload to Blendergrid.
</p>

<p>
  If you calculate the price of your project, Blendergrid will also show some
  preview renders of your project, so you can make sure everything works before
  rendering the real thing.
</p>

<p>
  If you have any other questions, feel free to reply!
</p>

<p>
  Happy rendering,<br>
  the Blendergrid team
</p>

<p>
  <a href="https://www.blendergrid.com">www.blendergrid.com</a>
</p>
