<% title = "upload from #{time_ago_in_words(upload.created_at)} ago" %>

<h1 class="text-lg"><%= title %></h1>

<%= render "projects/intake_form",
  upload: @upload,
  project_intake: @project_intake %>

<%= render "projects/grouped",
  projects_by_status: @upload&.projects&.group_by(&:status)&.symbolize_keys || {},
  new_quote: @quote,
  new_order: @order %>
