<div class="absolute top-0 min-w-6xl mx-auto w-screen -z-100">
  <svg viewBox="0 0 1080 360" xmlns="http://www.w3.org/2000/svg">
    <mask
      id="mask0_33_8"
      style="mask-type:alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="1080"
      height="360"
    >
      <path
        <%# TODO: would be cool to animate this transition %>
        d="M 0 <%= @big_color ? 360 : 48 %> L 1080 <%= @big_color ? 280 : 48 %> V 0 H 0 Z"
        fill="white"
        style="fill:white;fill-opacity:1;"
      />
    </mask>
    <g mask="url(#mask0_33_8)">
      <g filter="url(#filter0_f_33_8)">
        <path
          d="M1176 317.5C1176 521.017 907.819 686 577 686C246.181 686 -22 521.017 -22 317.5C-22 113.983 246.181 -51 577 -51C907.819 -51 1176 113.983 1176 317.5Z"
          fill="#00FF88"
          style="fill:#00FF88;fill:color(display-p3 0.0000 1.0000 0.5333);fill-opacity:1;"
        />
      </g>
      <g filter="url(#filter1_f_33_8)">
        <ellipse
          cx="632.5"
          cy="9"
          rx="447.5"
          ry="272"
          fill="#AD06DB"
          style="fill:#AD06DB;fill:color(display-p3 0.6789 0.0242 0.8600);fill-opacity:1;"
        />
      </g>
      <g filter="url(#filter2_f_33_8)">
        <ellipse
          cx="1269.5"
          cy="171"
          rx="440.5"
          ry="303"
          fill="#0059FF"
          style="fill:#0059FF;fill:color(display-p3 0.0000 0.3500 1.0000);fill-opacity:1;"
        />
      </g>
      <g filter="url(#filter3_f_33_8)">
        <ellipse
          cx="-34.5"
          cy="-66"
          rx="538.5"
          ry="303"
          fill="#FF006A"
          style="fill:#FF006A;fill:color(display-p3 1.0000 0.0000 0.4167);fill-opacity:1;"
        />
      </g>
      <g filter="url(#filter4_f_33_8)">
        <ellipse
          cx="-142"
          cy="281"
          rx="387"
          ry="221"
          fill="#FFCC00"
          style="fill:#FFCC00;fill:color(display-p3 1.0000 0.8000 0.0000);fill-opacity:1;"
        />
      </g>
      <g filter="url(#filter5_f_33_8)">
        <ellipse
          cx="1078.5"
          cy="-27.5"
          rx="468.5"
          ry="195.5"
          fill="#2800ED"
          style="fill:#2800ED;fill:color(display-p3 0.1551 0.0000 0.9309);fill-opacity:1;"
        />
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_33_8"
        x="-395.2"
        y="-424.2"
        width="1944.4"
        height="1483.4"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend
        mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
        result="shape"/> <feGaussianBlur stdDeviation="186.6"
        result="effect1_foregroundBlur_33_8"/>
      </filter>
      <filter
        id="filter1_f_33_8"
        x="-236"
        y="-684"
        width="1737"
        height="1386"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend
        mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
        result="shape"/> <feGaussianBlur stdDeviation="210.5"
        result="effect1_foregroundBlur_33_8"/>
      </filter>
      <filter
        id="filter2_f_33_8"
        x="352"
        y="-609"
        width="1835"
        height="1560"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend
        mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
        result="shape"/> <feGaussianBlur stdDeviation="238.5"
        result="effect1_foregroundBlur_33_8"/>
      </filter>
      <filter
        id="filter3_f_33_8"
        x="-1033"
        y="-829"
        width="1997"
        height="1526"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend
        mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
        result="shape"/> <feGaussianBlur stdDeviation="230"
        result="effect1_foregroundBlur_33_8"/>
      </filter>
      <filter
        id="filter4_f_33_8"
        x="-971"
        y="-382"
        width="1658"
        height="1326"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend
        mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
        result="shape"/> <feGaussianBlur stdDeviation="221"
        result="effect1_foregroundBlur_33_8"/>
      </filter>
      <filter
        id="filter5_f_33_8"
        x="98"
        y="-735"
        width="1961"
        height="1415"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend
        mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
        result="shape"/> <feGaussianBlur stdDeviation="256"
        result="effect1_foregroundBlur_33_8"/>
      </filter>
    </defs>
  </svg>
</div>
