<% @nav_links = [
  { name: "Start", path: root_path },
  { name: "Projects", path: projects_path },
] %>

<header>
  <nav>
    <% @nav_links.each do |link| %>
      <%= link_to link[:name], link[:path] %>
    <% end %>

    <% if authenticated? %>

      <%= button_to "Sign out", session_path, method: :delete %>

    <% else %>

      <%= link_to "Log in", new_session_path %>
      <%= link_to "Sign up", new_user_path %>

    <% end %>
  </nav>
</header>
