<% flash.each do |type, message| %>
  <div
    data-controller="notifications"
    aria-live="assertive"
    class="
      pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6
    "
  >
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <div
        data-notifications-target="panel"
        class="opacity-0 pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg
          backdrop-blur-md backdrop-saturate-150 shadow-lg ring-1 ring-black/5
          <%= type == "notice" ? "bg-green-50/50 dark:bg-green-950/40" : "bg-red-50/50 dark:bg-red-950/40" %>" >
        <div class="p-4">
          <div class="flex items-start">
            <div class="shrink-0">
              <% if type == "notice" %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-900 dark:text-green-200">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              <% elsif type == "alert" %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-900 dark:text-red-300">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                </svg>
              <% end %>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <% if type == "notice" %>
                <p class="text-sm font-medium text-green-900 dark:text-green-200">Good!</p>
              <% elsif type == "alert" %>
                <p class="text-sm font-medium text-red-900 dark:text-red-300">That failed..</p>
              <% end %>
              <p class="mt-1 text-sm text-gray-700/80 dark:text-gray-200/80"><%= message %></p>
            </div>
            <div class="ml-4 flex shrink-0">
              <button
                data-action="notifications#close"
                type="button"
                class="
                  inline-flex rounded-md opacity-50 hover:opacity-70 focus:ring-2
                  focus:ring-blue-600 focus:ring-offset-2 focus:outline-hidden cursor-pointer
                  <%= type == "notice" ? "text-green-900 dark:text-green-200" : "text-red-900 dark:text-red-200" %>
                "
              >
                <span class="sr-only">Close</span>
                <svg
                  class="size-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
